body {
        background: linear-gradient(to left, hsl(200, 200%, 50%), hsl(200, 100%, 500%)90%);
        font-family: Arial, Helvetica, sans-serif;


}

.player {

        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
}

.wrapper {

        border: 1px solid transparent;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.9);

}

.details {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

}

.track_art {
        margin: 25px;
        height: 250px;
        width: 250px;
        border: 2px solid white;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        -moz-border-radius: 190px;
        -webkit-border-radius: 190px;
        border-radius: 190px;
}

.now_playing {
        font-size: 1rem;
}

.track_name {
        font-size: 2.5rem;
}

.track_artist {
        margin-top: 5px;
        font-size: 1.5rem;
}

.button {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;

}

.active {
        color: black;
}

.repeat_track,
.random_track,
.playpause_track,
.prev_track,
.next_track {
        padding: 25px;
        opacity: 0.9;
        transition: opacity .2s;
}


.repeat_track:hover,
.random_track:hover,
.playpause_track:hover,
.prev_track:hover,
.next_track:hover {
        opacity: 1.0;
}

.slider_container {
        display: flex;
        justify-content: center;
        align-items: center;

}

.seek_slider,
.volume_slider {
        height: 5px;
        background: #73a9ff;
        -webkit-transition: .2s;
        transition: opacity .2s;


}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        background: white;
        border: 3px solid blue;
        cursor: pointer;
        border-radius: 100%;

}

.seek_slider:hover,
.volume_slider:hover {
        opacity: 1.0;
}

.seek_slider {
        width: 60%;
}

.volume_slider {
        width: 30%;
}

.current_time,
.total_duration {
        padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
        padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
        cursor: pointer;
}

.randomActive {
        color: black;
}

.rotate {
        animation: rotation 9s infinite linear;
}

@keyframes rotation {
        0% {
                transform: rotate(0deg);
        }

        100% {
                transform: rotate(360deg);
        }
}

.loader {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.loader, .stroke {
        background: white;
        height: 150%;
        width: 10px;
        border-radius: 50px;
        margin: 0px 50px;
        animation: animate 1.4s linear infinite;
}

@keyframes animate {
        50% {
                height: 20%;
                background: blue;
        }

        100% {
                height: 100%;
        }
}

.stroke:nth-child(1) {
        animation-delay: 0s;
}


.stroke:nth-child(2) {
        animation-delay: 0s;
}

.stroke:nth-child(3) {
        animation-delay: 0.3s;
}

.stroke:nth-child(4) {
        animation-delay: 0.6s;
}

.stroke:nth-child(5) {
        animation-delay: 0.9s;
}

.stroke:nth-child(6) {
        animation-delay: 0.6s;
}

.stroke:nth-child(7) {
        animation-delay: 0.3s;
}

#wave {
        display: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
}